[Unit]
Description=DWIN LCD Service
After=multi-user.target

[Service]
User=pi
Type=idle
ExecStartPre=/bin/sleep 10
ExecStart=/home/pi/DWIN_T5UIC1_LCD/run.py

[Install]
WantedBy=multi-user.target
